@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1657890552457') format('truetype');
}

.iconfont_phone {
  font-family: "iconfont" !important;
  font-size: 34px;
  opacity: 0.4;
  text-align: center;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* &#xe525; */
.icon-shouji:before {
  content: "\e525";
}